[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/thecherno/glfw
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm
[submodule "external/imgui-fork"]
	path = external/imgui-fork
	url = https://github.com/TheCherno/imgui.git
	branch = docking
