# Build directories
.vs/
build/
bin/
lib/
out/
bin/
bin-int/
x64/
*.dir/
*.log


# Files
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sln

# Exclude
!external/bin

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
*.cmake

# Compiled files
*.o
*.obj
*.exe
*.dll
*.lib
*.pdb
*.ilk
*.exp

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db